<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSecOps To-Do List</title>
</head>
<body>
    <h1>DevSecOps To-Do List</h1>
    <form action="/add" method="post">
        <label for="content">Nova Tarefa:</label>
        <input type="text" id="content" name="content" required>
        <button type="submit">Adicionar</button>
    </form>
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>    
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.content }}
                <a href="{{ url_for('delete', id=task.id) }}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
